package $(PackageName);

import createjs.easeljs.Stage;
import js.Browser;

/**
$(CBI)* @author $(DefaultUser)
$(CBI)*/
class Main $(CSLB){
	
	static function main() $(CSLB){
		var canvas = Browser.document.getElementById("canvas");
		var stage = new Stage(canvas);
		// entry point
	}
	
}
